@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-black">歡迎來到Pizza 店</h1>
    <h2>超好吃的 Pizza 啦</h2>
    <img class="mainImg" src="~/images/pizzaTime.jpg" />
    <br />
    <a class="btn-primary mt-1 text-dark" asp-area="" asp-page="Checkout/ThankYou">Bring Me that Pizza </a>
</div>
